<!DOCTYPE html>
<html lang="ro">
<head>
    <title>
        Turis Performance
    </title>
    <%- include("../fragmente/head.ejs") %>
        <meta name="keywords" content="Turis, Performance, TurisPerformance, dealer, dealership,
        showroom, automobil, masina, masina second-hand, masina noua, vanzare
        masini,leasing, finantare masini, vanzari auto, auto,Volkswagen, Toyota, Renault,
        Peugeot, Ford, Skoda, Mercedes-Benz, Opel/Vauxhall, BMW, Fiat, Citroën, Dacia, Audi,
        Hyundai, Kia, Nissan, Volvo, Seat, Suzuki, Mazda, Mini, Jeep, Land Rover, Mitsubishi,
        Porsche, Smart, DS, Lexus, Alfa Romeo, Tesla, diesel, benzina, motorina, electric,
        hybrid, SUV, Break, Berlina, Cabrio, Coupe, E46, volan dreapta, garantie, automobile
        de lux, oferte speciale, rezervare masina online, livrare masina domiciliu, modele de
        masini">
        <meta name="description" content="Cauti o masina sau chiar una second-hand? Doresti optiuni de leasing sau finantare,
        vrei sa beneficiezi de garantie si de revizii gratuite?. Te intereseaza discounturi-le la peste 20 de marci de masini
        Afla detalii si vezi oferte online">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <section>
            <h1>
                Despre noi
            </h1>
            <div id="imagine">
            </div>
            <p id="p_col">
                Bine ați venit la Turis Performance, compania noastră de dealer auto premium dedicată satisfacerii celor mai înalte standarde ale clienților noștri. Suntem mândri să vă prezentăm gama noastră variată de vehicule de înaltă performanță și servicii excelente.
                Turis Performance este un dealer auto premium care oferă cele mai exclusiviste mărci auto, cum ar fi Porsche, BMW, Mercedes-Benz, Audi și multe altele. Suntem dedicați să vă oferim o experiență de conducere cu adevărat unică și satisfăcătoare.
                Pentru a vă face experiența cu noi cât mai plăcută și ușoară, oferim opțiunea de leasing auto pentru clienții noștri. Vă oferim posibilitatea de a cumpăra un vehicul de înaltă performanță fără a fi nevoie să plătiți suma integrală la achiziție, astfel încât să puteți să vă bucurați de mașina preferată fără stres financiar.
                De asemenea, oferim clienților noștri revizii gratuite timp de 1-2 ani pentru vehiculele achiziționate de la noi. Deoarece înțelegem importanța mentenanței și reparării regulate, vă vom ajuta să vă mențineți vehiculul în cea mai bună formă și să vă protejați investiția.
                Pentru a oferi o experiență de cumpărare fără griji, toate automobilele noastre vin cu garanție. De asemenea, oferim posibilitatea de a extinde această garanție pentru o mai mare liniște a clienților noștri.
                Turis Performance oferă și diferite discounturi și oferte speciale pentru a vă ajuta să vă cumpărați vehiculul preferat la cel mai bun preț. În plus, vă invităm să faceți un test drive pentru a vă asigura că vehiculul pe care doriți să îl achiziționați se potrivește perfect nevoilor dumneavoastră și stilului de viață.
                Pe lângă gama noastră de mașini de înaltă performanță, avem și o selecție de mașini pentru toate bugetele, inclusiv vehicule noi și rulate, precum Dacia și Renault. Suntem convinși că veți găsi mașina potrivită pentru dumneavoastră în cadrul ofertelor noastre variate.
                Echipa noastră de experți în mașini este pregătită să vă ajute în orice fel posibil, de la consultanță la cumpărare și mentenanță. Vă garantăm că veți primi cel mai bun serviciu și că suntem dedicați să vă oferim o experiență de cumpărare a mașinii plăcută și fără stres.
                Vă invităm să ne vizitați showroom-ul pentru a vă alege mașina preferată și pentru a beneficia de serviciile noastre excelente, inclusiv leasing, revizii gratuite, garanție și posibilitatea de test drive.   
            </p>
        </section>
        <div class="text-animation">TURIS PERFORMANCE
        </div>
        <section>
            <div id="container">
                <div id="text">
                    <h2>Cum functioneaza leasingul</h2>
                    <div id="text-reflectat">
                    <h2>Cum functioneaza leasingul</h2>
                     </div>
                </div>
            </div>
            <p>
                <video poster="./resurse/imagini/leasing.jpg" controls preload="metadata">
                    <source src="./resurse/video/video1.mp4" type="video/mp4">
                    <source src="./resurse/video/video1.avi" type="video/avi">
                    <track default src="../../resurse/vtt/romana.vtt" kind="captions" srclang="ro" label="romana"/>
                    <track src="../../resurse/vtt/english.vtt" kind="captions" srclang="en" label="engleza"/>
                </video>
            </p>
        </section>
    </main>
    <div class="break">
    </div>
    <%- include("../fragmente/footer.ejs") %>
</body>


