<!DOCTYPE html>
<html lang="ro">
<head>
    <title>
        Turis Performance
    </title>
    <%- include("../fragmente/head.ejs") %>
        <meta name="keywords" content="Turis, Performance, TurisPerformance, dealer, dealership,
        showroom, automobil, masina, masina second-hand, masina noua, vanzare
        masini,leasing, finantare masini, vanzari auto, auto,Volkswagen, Toyota, Renault,
        Peugeot, Ford, Skoda, Mercedes-Benz, Opel/Vauxhall, BMW, Fiat, Citroën, Dacia, Audi,
        Hyundai, Kia, Nissan, Volvo, Seat, Suzuki, Mazda, Mini, Jeep, Land Rover, Mitsubishi,
        Porsche, Smart, DS, Lexus, Alfa Romeo, Tesla, diesel, benzina, motorina, electric,
        hybrid, SUV, Break, Berlina, Cabrio, Coupe, E46, volan dreapta, garantie, automobile
        de lux, oferte speciale, rezervare masina online, livrare masina domiciliu, modele de
        masini">
        <meta name="description" content="Cauti o masina sau chiar una second-hand? Doresti optiuni de leasing sau finantare,
        vrei sa beneficiezi de garantie si de revizii gratuite?. Te intereseaza discounturi-le la peste 20 de marci de masini
        Afla detalii si vezi oferte online">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <link href="/resurse/css/schimbare_fundal.css" rel="stylesheet" type="text/css" />
    <main>
        <section>
            <h1>
                Locatii showroom-uri
            </h1>
            <p>
                <%- include("../fragmente/galerie_animata.ejs") %>
            </p>
            <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, facere ea consectetur odio, natus, pariatur doloribus reprehenderit obcaecati sit excepturi quia quae? Fugit, dolore in provident harum autem quod necessitatibus?
            </p>
        </section>
    </main>
    <div class="break">
    </div>
    <%- include("../fragmente/footer.ejs") %>
</body>


