#produse {
    width: 80%;
    margin: 0 auto;
}

.card.produs {
    border: 5px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
.nume {
    font-size: 1.5em;
}

.text-red {
    color: red;
}

article[class^="produs"] {
    counter-increment: produs-counter;
}
  
article[class^="produs"]::before {
    content: "artc-" counter(produs-counter);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title a {
    color: #b31010; /* Schimbați aceasta cu orice culoare doriți */
}

.card-title a:hover {
    color: #860808; /* Schimbați aceasta cu orice culoare doriți */
}

.btn-primary {
    background-color: #139ca8; /* Schimbați aceasta cu orice culoare doriți */
    border-color: #1564b8; /* Schimbați aceasta cu orice culoare doriți */
}

.btn-primary:hover {
    background-color: #209fa5; /* Schimbați aceasta cu orice culoare doriți */
    border-color: #24acb9; /* Schimbați aceasta cu orice culoare doriți */
}

.col1, .col2 {
    padding: 2px;
}

.card.produs {
    transition: opacity 0.5s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
