<footer>
    <a href="#" id="link-top">
        <div id="triunghi">
        </div>
    </a>
    <p>
        Acasa:<a href="index.html">TurisPerformance</a>
    </p>
        <address>
            Pentru a ne contacta telefonic, sunați la numărul <a href="tel:+40711223344">0711 223 344</a><br>
            Sediul nostru se afla la adresa:
            <a href="https://www.google.com/maps/search/Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank">Strada Academiei, nr. 14, București</a><br>
            Adresa de email:
            <a href="mailto:turis_performance@yahoo.com">turis_performance@yahoo.com</a><br>
            Contactează-ne pe WhatsApp:
            <a href="https://wa.me/+40711223344">Deschide chat-ul cu noi</a><br>
            <small>Copyright &copy; <time datetime="2023">2023 </time> Turis Performance</small>
            <p id="banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>
        </address>
</footer>