<script src="/resurse/js/tema.js"></script>
<header>
    <h1>
        TURIS PERFORMANCE
        <span class="fas fa-solid fa-car-side"></span>
    </h1>
</header>
<nav class="meniu_nav">
    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li>
         <div id="acasa">
            <!--nu cred ca e ok adaugat a href aici, adaugat etapa 4-->
            <a href="http://localhost:8080/"><span class="fas fa-regular fa-house"></span><span id="acasa1">Acasa</span></a>
         </div>
                <!--pentru ca nu putem sa facem hover pe tableta-->
            <ul>
                <li>
                    <a href="#Masini_sugerate">
                        Masini sugerate
                    </a>
                </li>
                <li>
                    <a href="#suv">
                        Alege tipul de masina care iti place
                    </a>
                        <ul class="sub-list">
                            <li>
                                <a href="#break">
                                    Break
                                </a>
                            </li>
                            <li>
                                <a href="#cabrio">
                                    Cabrio
                                </a>
                            </li>
                            <li>
                                <a href="#sedan">
                                    Sedan
                                </a>
                            </li>
                            <li>
                                <a href="#coupe">
                                    Coupe
                                </a>
                            </li>
                            <li>
                                <a href="#suv">
                                    SUV
                                </a>
                            </li>
                            <li>
                                <a href="#compacta">
                                    Compacta
                                </a>
                            </li>
                        </ul>
                </li>
                <li>
                <a href="#Alege_Turis">
                    De ce sa ne alegi pe noi
                    </a>
                </li>
                <li>
                    <a href="#Unde_ne_gasesti">
                        Unde ne gasesti
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div>
                Stoc Masini
            </div>
            <ul>
                <li><a href="/produse">Toate</a></li>
                <!-- <li><a href="/produse?tip=cofetarie">Prajituri</a></li>
                <li><a href="/produse?tip=gelaterie">Inghetata</a></li>
                <li><a href="/produse?tip=patiserie">Patiserie</a></li> -->
                <% for (let i = 0; i < obGlobal.optiuniMeniu.length; i++) { %>
                    <li><a href="/produse?tip=<%- obGlobal.optiuniMeniu[i].unnest %>"><%- obGlobal.optiuniMeniu[i].unnest %></a></li>
                  <% } %>
            </ul>
        </li>
        <li>
            <a href="#Discounturi">Discounturi
            </a>
        </li>
        <li>
            <a href="http://localhost:8080/locatii">Locatii showroom-uri
            </a>
        </li>
        <li>
             <a href="http://localhost:8080/despre_noi">Despre noi
             </a>
        </li>
        <li>
            <a href="#Contact">Contact
            </a>
        </li>
    </ul>
</nav>